body{
    background-image: url('./assests/blue\ login.png');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;

}
.container{
     margin: 70px auto 0 auto; 
  justify-content: center;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.id{
    
    max-width: 300px;
    flex: 1 1 300px;
    min-height: 400px;
    background-color: rgb(74, 129, 151);
     text-align: center;
    display: flex;
    flex-wrap: wrap;
    border: 10px rgb(74, 129, 151) solid;
    border-radius: 30px;
    align-items: center;
}
.id h1{
    font-family: arial;
    color:black;
    padding-left: 100px;

}
 form {
    display: flex;
    gap:20px;
    flex-wrap: wrap;
}
label{
    font-size: 16px;
    font-family: arial;
    color:black;

}
input[type="email"],
input[type="password"] {
  padding: 6px;
  gap:20px;
  border: 1px rgb(74, 129, 151) ;
  border-radius: 5px;
  font-size: 16px;
}
input[type="email"]{
    margin-left: 30px;
}
 button{
    font-family: arial;
    margin-left: 15px;
    font-size: 16;
    color: black;
}
.Button,.Forget{
    border:2px rgba(0, 0, 0, 0.223) solid;
}
.Button:hover,.Forget:hover{
    background-color: teal;
}
.Login{
    color: white;
    width: 270px;
    background-color: rgb(33, 33, 80);
    border:2px rgb(33, 33, 80) solid;
}
.Login:hover{
    background-color: teal;
}
.id p{
    color: black;
    margin-left: 45px;
}




